---

---

<header class="py-2 bg-green-300">
  <nav class="flex flex-wrap gap-4">
    <a href="/">Home</a>
    <a href="/about-us">About</a>
    <a href="/case-study">Case Study</a>
    <a href="/reviews">Reviews</a>
    <a href="/press-media">Press & Media</a>
    <a href="/careers">Careers</a>
    <a href="/nextjs-development">NextJS Development</a>
    <a href="/strapi-development">Strapi Development</a>

    <a href="/sanity-astro-development">Sanity and Astro Development</a>

    <a href="/shopify-development">Custom Shopify Development</a>
    <a href="/website-copywriting">Website Copywriting</a>
    <a href="/branding">Branding & Design</a>
    <a href="/seo-search-engine-optimization">SEO</a>
    <a href="/website-management">Site Mainteinance</a>
    <a href="/blog">Blog</a>
    <a href="/website-audit">Free Website Audit</a>
    <a href="/terms-conditions">Terms & Conditions</a>
    <a href="/privacy-policy">Privacy Policy</a>
    <a href="/privacy-policy">Client Commitment</a>
    <a href="/affiliate-marketing">Affiliate Marketing</a>
    <a href="/contact-us">Contact Us</a>
    <a href="/book-a-discovery-call">Book a Discovery Call</a>
  </nav>
</header>
